extends layout

block content
    section.countries
        .container
            h2 countries
            .cont
                .row
                    .col-sm-4
                        a.item(href='/countries/countrie-1', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                    .col-sm-4
                        a.item(href='/countries/countrie-4', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                    .col-sm-4
                        a.item(href='/countries/countrie-3', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                .row
                    .col-sm-4
                        a.item(href='/countries/countrie-4', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                    .col-sm-4
                        a.item(href='/countries/countrie-5', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                    .col-sm-4
                        a.item(href='/countries/countrie-6', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title