doctype html
html
  head
    title= title

    meta(charset="utf-8")

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,cyrillic')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css')

    script(src='/javascripts/jquery-1.11.1.min.js')
    script(src='/javascripts/jquery.validate.min.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/javascripts/script.js')

  body.bg-slide(data-folder='/images/bg/', data-images='bg1.jpg|bg2.jpg')
    section.header
      .stat
        .container
          .row
            .col-sm-6
              .num number
            .col-sm-6
              .t-right
                .search
                  input(type='text', name='search', placeholder='search text..')
                  button.btn <i class="fa fa-search" aria-hidden="true"></i>
                button.btn(type='button', data-trigger="focus",  title, data-placement="bottom", data-toggle="popover" data-content="form auth") Sign
      .about
        .container
          .row
            .col-sm-4
              a.logo(href='/') logo
            .col-sm-8
              .row
                .col-sm-6
                  .contacts contacts
                .col-sm-6
                  .contacts contacts
    section.nav
      .container
        .row
          .col-sm-8
            ul
              li
                a(href='/') home
              li
                a(href='/tours') tours
              li
                .dropdown
                  a#dLabel2(href='', data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", data-target="#", role='button') Pages 1 <i class="fa fa-caret-down" aria-hidden="true"></i>
                  ul.dropdown-menu(aria-labelledby="dLabel2")
                    li
                      a(href='/pages/page-1') page 1
                    li
                      a(href='/pages/page-2') page 2
              li
                .dropdown
                  a#dLabel3(href='', data-toggle="dropdown" aria-haspopup="true" aria-expanded="false", data-target="#", role='button') Pages 2 <i class="fa fa-caret-down" aria-hidden="true"></i>
                  ul.dropdown-menu(aria-labelledby="dLabel3")
                    li
                      a(href='/pages/page-3') page 3
                    li
                      a(href='/pages/page-4') page 4
                    li
                      a(href='/pages/page-5') page 5
              li
                a(href='/countries') Countries
          .col-sm-4
            .add-btns
              .t-right
                .search
                  input(type='text', name='search', placeholder='search text..')
                  button.btn <i class="fa fa-search" aria-hidden="true"></i>
                button.btn(type='button', data-trigger="focus",  title, data-placement="bottom", data-toggle="popover" data-content="form auth") Sign
    section.hot-tours
      .container
        .cont
          h2 hot tours

    block content

    section.footer
      .social
        .container
          a(href='#') <i class="fa fa-vk" aria-hidden="true"></i>
          a(href='#') <i class="fa fa-facebook" aria-hidden="true"></i>
          a(href='#') <i class="fa fa-twitter" aria-hidden="true"></i>
      .other
        .container
          .row
            .col-sm-3
              p.caption Caption 1
              ul.list
                li
                  a(href='#') Link 1
                li
                  a(href='#') Link 2
                li
                  a(href='#') Link 3
            .col-sm-3
              p.caption Caption 2
                ul.list
                  li
                    a(href='#') Link 1
                  li
                    a(href='#') Link 2
                  li
                    a(href='#') Link 3
            .col-sm-3
              p.caption Caption 3
                ul.list
                  li
                    a(href='#') Link 1
                  li
                    a(href='#') Link 2
                  li
                    a(href='#') Link 3
            .col-sm-3
              p.caption Caption 4
                ul.list
                  li
                    a(href='#') Link 1
                  li
                    a(href='#') Link 2
                  li
                    a(href='#') Link 3
      .copy
        .container
          p &copy; 2016 TF


