extends layout

block content
    section.tours
        .container
            h2 tours
            .cont
                .row
                    .col-sm-4
                        a.item(href='/tours/tour-1', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                    .col-sm-4
                        a.item(href='/tours/tour-4', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                    .col-sm-4
                        a.item(href='/tours/tour-3', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                .row
                    .col-sm-4
                        a.item(href='/tours/tour-4', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                    .col-sm-4
                        a.item(href='/tours/tour-5', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title
                    .col-sm-4
                        a.item(href='/tours/tour-6', style='background-image: url(/images/articles/temp.jpg)')
                            .shadow
                            .title Title